.homepage-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #0cf600;
    text-align: center;
}

h1 {
    color: #07b716;
    margin-bottom: 20px;
    font-size: 200px;
}

.nav-links {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.nav-link {
    text-decoration: none;
    color: white;
    background-color: #00796b;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.2em;
    transition: background-color 0.3s;
}

.nav-link:hover {
    background-color: rgb(14, 229, 11);
}